
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
	margin: 0px;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #673232;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}
pre code {
	margin: 0;
	padding: 0;
}

code a img {
	width: 180px;
	box-shadow: 0 3px 12px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 5px;
}

#body {
	margin: 0 15px 0 15px;
}

div.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 20px;
    padding-bottom: 30px;
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}
div.footer p {
    margin-right: 10px;
}

#container {
	margin: 10px;
	border: 1px solid #D0D0D0;
	box-shadow: 0 0 8px #D0D0D0;
}
img.loading_img {
	width: 20px;
	display: none;
}
li h3 {
	color: #DE4242;
}
code a {
	font-size: 1.2em;
}
h1 a {
	font-size: 0.9em;
}
#face_picture {
	position: absolute;
	left: 5%;
	top: 5%;
	display: none;
}